<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
    <title>Mattupetty Dam</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="../images/kerela/travel.png" sizes="16x16 32x32" type="image/png">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7CPoppins:400%7CTeko:300,400">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
                .g-height-50 {
                    height: 50px;
                }

                .g-width-50 {
                    width: 50px !important;
                }

                @media (min-width: 0){
                    .g-pa-30 {
                        padding: 2.14286rem !important;
                    }
                }

                .g-bg-secondary {
                    background-color: #efba94!important;
                }

                .u-shadow-v18 {
                    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
                }

                .g-color-gray-dark-v4 {
                    color: black !important;
                }

                .g-font-size-12 {
                    font-size: 0.85714rem !important;
                }

                .media-comment {
                    margin-top:20px
                }
                .contact{
		padding: 4%;
		height: 400px;
	}
	
    </style>
  

</head>

<body>
   
    
    <div class="page">

      
        
        <!-- Breadcrumbs -->
        <section class="breadcrumbs-custom-inset">
            <div class="breadcrumbs-custom context-dark bg-overlay-60">
                <div class="container">
                    <h2 class="breadcrumbs-custom-title">Mattupetty Dam</h2>
                    

                </div>
                <div class="box-position" style="background-image: url(../images/kerela/munnar/dam/p1.jpeg);"></div>
            </div>
        </section>
        
        <section class="section section-sm section-last bg-default text-left"  >
            <div class="container">
                 
                <div class="row row-60 row-md-80 row-lg-90" style="background-color:#FBFCF7;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="col-lg-8 col-xl-6">
                        
                        <br>
                        <a href="/dam">
                            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="5000">
                                <img src="./images/kerela/munnar/dam/p2.jpg" height="300px" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                <img src="./images/kerela/munnar/dam/p3.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                <img src="./images/kerela/munnar/dam/thumbnails/p6.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            </div>
                          </a>
                          </div>
                          <div class="col-lg-8 col-xl-6">
                            <div class="offset-left-xl-65">
                                <br>
                                <h3>Mattupetty Dam</h3>
                                           Mattupetty Dam, near Munnar in Idukki District, is a storage Concrete Gravity dam built in the mountains of Kerala, India to conserve water for hydroelectricity. 
                                           It has been a vital source of power yielding along with other such dams, huge revenue to the states. It has been a vital source of power yielding along with other such dams, huge revenue to the states. The large amount of perennially available water allows wild animals and birds to flourish. However salinity caused by irrigation and water-logging are of concern to environmentalists.
                                            <p><strong>Read more on</strong><span><a href="https://en.wikipedia.org/wiki/Mattupetty_Dam" target="_blank"><span style="color: blue;"><ins>Wikipedia</ins></a></span></p>          
                              </div>
                              </div>  
                              </div>
                          </div>
                         
                           
                          </section> 
                                     </section> 
              <section class="section">
                    <div class="container-fluid">
                        <br>
                    <h3>Location</h3>              
                     <br>      
                        
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3127.730112300981!2d77.12178197523092!3d10.106390293855723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b079c1847151239%3A0xce20307468de30c1!2sMattupetty%20Dam!5e1!3m2!1sen!2sin!4v1618800296335!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>    </section>
</section>                  
                </div>
                <section class="container" >
                       
                        <!--Section heading-->
                        <h3 class="h1-responsive font-weight-bold text-center my-4">Rating & Review</h3>
                        <!--Section description-->
                        
                        <div class="container">
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12 mb-md-0 mb-6">
                                <form id="contact-form" name="contact-form" action="/munnardam" method="POST">

                                    <!--Grid row-->
                                    <div class="row">

                                        <!--Grid column-->
                                        <div class="col-md-6">
                                            <div class="md-form mb-0">
                                                <input type="text" id="name" name="name" class="form-control" placeholder="Your name" required>
                                                
                                            </div>
                                        </div>
                                        <!--Grid column-->

                                        <!--Grid column-->
                                        <div class="col-md-6">
                                            <div class="md-form mb-0">
                                                <input type="text" id="email" name="email" class="form-control" placeholder="Your email" required>
                                                
                                            </div>
                                        </div>
                                        <!--Grid column-->

                                    </div>
                                    <!--Grid row-->

                                    <!--Grid row-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="md-form mb-0 text-left">
                                                <input type="hidden" name ="serial" required>
                                                <div class="rateyo" id= "rating"
                                                data-rateyo-rating="0"
                                                data-rateyo-num-stars="5"
                                                data-rateyo-score="1.5">
                                                </div>
                                                <h4>Rating:<span class='result'>0</span></h4>
                                                <input type="hidden" name="rating" required>                                            
                                                </div>
                                        </div>
                                    </div>
                                    <!--Grid row-->

                                    <!--Grid row-->
                                    <div class="row">

                                        <!--Grid column-->
                                        <div class="col-md-12">

                                            <div class="md-form">
                                                <textarea type="text" id="message" name="feedback" rows="2" class="form-control md-textarea" placeholder="Your message" required></textarea>
                                                 <br>
                                                <button class="button button-primary button-pipaluk-left" type="submit">Save Response</button>
                                            </div>

                                        </div>
                                        <br>
                                        <br>
                                        <div class="text-center text-md-left">
                                           
                                </div>
                                    </div>
                                    <!--Grid row-->

                                </form>

                            
                                <div class="status"></div>
                            </div>
                        

                        </div>
                        </div>
                    </section>
                    
    <div class="container text-left">
        <hr>
        <br>
    <div id="rateYo" height="400px"></div>
    <p>{{avgreview}} by {{persons}} customers reviews</p>
    {{# each records}}

<div class="row">
    <div class="col-md-12">
        <div class="media g-lg-30 media-comment">
             
            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
              <div class="g-mb-15">
                <h5 class="h5 g-color-gray-dark-v1 mb-0"><strong>{{name}}</strong></h5>
                <span class="g-color-gray-dark-v4 g-font-size-12"><strong>{{rating}}</strong> star's rating</span>
                <div class="g-color-gray-dark-v4 g-font-size-12">{{date}}</div>
              </div>
        
              <p>{{feedback}}</p>
        
              
               
            </div>
        </div>
    </div>

    
</div>

{{/each}}
</div>                       
   <br> 
        

        

    </div>
    </section>




    <!-- Page Footer-->
    <footer class="section footer-corporate context-dark ">
        <div class="footer-corporate-inset ">
            <div class="container ">
                <div class="row row-40 justify-content-lg-between ">
                    <div class="col-sm-6 col-md-12 col-lg-3 col-xl-4 ">
                        <div class="oh-desktop ">
                            <div class="wow slideInRight " data-wow-delay="0s ">
                                <h6 class="text-spacing-100 text-uppercase ">Contact us</h6>
                                <ul class="footer-contacts d-inline-block d-sm-block ">
                                    <li>
                                        <div class="unit ">
                                            <div class="unit-left "><span class="icon fa fa-phone "></span></div>
                                            <div class="unit-body "><a class="link-phone " href="tel:+91 7004460371 ">+91 7004460371</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit ">
                                            <div class="unit-left "><span class="icon fa fa-envelope "></span></div>
                                            <div class="unit-body "><a class="link-aemail " href="mailto:gravi0970p@gmail.com ">gravi0970p@gmail.com</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit ">
                                            <div class="unit-left "><span class="icon fa fa-location-arrow "></span></div>
                                            <div class="unit-body "><a class="link-location " href="https://www.google.co.in/maps/place/Silicon+Institute+of+Technology/@21.5797911,84.0436307,17z/data=!3m1!4b1!4m5!3m4!1s0x3a211a68e0107a59:0x29b1fa9dcb161615!8m2!3d21.5797911!4d84.0458194">
                                            Silicon Institute Of Technology, Sambalpur</a></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-3 col-xl-4 ">
                        <div class="oh-desktop ">
                            <div class="wow slideInDown " data-wow-delay="0s ">
                                <h6 class="text-spacing-100 text-uppercase ">Follow Us on</h6>
                                <!-- Post Minimal 2-->
                                <ul class="footer-contacts d-inline-block d-sm-block ">
                                    <li>
                                        <div class="unit ">

                                            <div class="unit-body ">
                                                <a class="icon fa fa-facebook " href="https://m.facebook.com/Paradise-tourism-105243188376916/ " target="_blank"></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit ">

                                            <div class="unit-body ">
                                                <a class="icon fa fa-twitter " href="https://twitter.com/ParadiseTouris1" target="_blank"></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit ">

                                            <div class="unit-body ">
                                                <a class="icon fa fa-instagram " href="https://www.instagram.com/paradisetourism_kerala/" target="_blank"></a>
                                            </div>
                                        </div>

                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-11 col-md-7 col-lg-5 col-xl-4 ">
                        <div class="oh-desktop ">
                            <div class="wow slideInLeft " data-wow-delay="0s ">
                                <h6 class="text-spacing-100 text-uppercase ">Quick links</h6>
                                <ul class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2 ">
                                    <li><a href="/about">About us</a></li>
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/kochi">Kochi</a></li>
                                    <li><a href="/munnar">Munnar</a></li>
                                    <li><a href="/alleppey">Alappuzha</a></li>
                                    <li><a href="/wayanad">Wayanad</a></li>
                                    <li><a href="/logout">Log Out</a></li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    
    <!-- Javascript-->
   <script type="text/javascript" src="js/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
 
<script>
 
 
    $(function () {
        $(".rateyo").rateYo().on("rateyo.change", function (e, data) {
            var rating = data.rating;
            $(this).parent().find('.score').text('score :'+ $(this).attr('data-rateyo-score'));
            $(this).parent().find('.result').text(rating);
            $(this).parent().find('input[name=rating]').val(rating); //add rating value to input field
        });
    });
    $(function () {
 
  $("#rateYo").rateYo({
    rating:{{avgreview}},
    readOnly: true
    
  });
});
  </script>
    
</body>


</html>